.menu {
  margin-top: 20px;
  width: 5000px;
  height: 50px;
  text-align: center;
  max-width: 100%;
  background-position: center;
  background-size: cover;
  background-color: lightgreen;
  color: black;
  position: absolute;
  z-index: 1;
}

.inMenu {
  list-style: none;
}

.object {
  display: inline;
  padding: 15px 90px;
}

.object:first-child {
  border-right: 1px solid;
}

.contentOutter {
  padding-top: 70px;
  width: 100%;
}

.left {
  float: left;
  width: 300px;
  height: 800px;
  overflow-y: auto;
  background-color: lightgray;
  margin: 10px 10px;
}

.right {
  float: left;
  width: 1309px;
  height: 800px;
  margin: 10px 10px;
  overflow-y: auto;
  background-color: lightgray;
  text-align: center;
}

.applyName {
  padding: 30px 70px;
  border: 2px solid black;
  margin-right: 40px;
  margin-bottom: 20px;
  text-align: center;
}

.green {
  background-color: green;
  padding: 9px 9px;
  border: 2px solid;
}

.yellow {
  background-color: yellow;
  padding: 9px 9px;
  border: 2px solid;
}

.red {
  background-color: red;
  padding: 10px 0;
  border: 2px solid;
}

.deliverName {
  margin-bottom: 40px;
  padding: 5% 5%;
  font-size: 30px;
  border: 2px solid black;
  background-color: lightgreen;
  margin-right: 40px;
  text-align: center;
}

.deliverButton {
  padding: 1% 1%;
  margin-left: 40px;
}

.title {
  border: 2px solid lightgreen;
  padding: 20px 0;
  margin: 10px 300px;
  background-color: lightgreen;
  font-size: 2em;
}

.container {
  width: 600px;
  height: 600px;
  z-index: 999;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: antiquewhite;
}
.close {
  /* float: right; */
  margin-left: 578px;
  background-color: red;
}

.closeOut {
  background-color: rgb(237, 231, 231);
}

.deliverInner {
  background-color: lightgreen;
  padding-bottom: 80px;
  font-size: 30px;
}

.term {
  margin: 30px 0;
}
